<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/styles/formsStyle.css"> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body> 
    <header>
        <h1>Faça o cadastro para receber as novidades</h1>
        <h2>Ou siga em frente</h2>
    </header>
    <section>
        <form action="processaCadastro.php" method="POST" id="formCadastro">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="idnome" placeholder="Henrique Lenis" required>
            <br><br>
            <label for="email">E-mail</label>
            <input type="email" name="email" id="idemail" placeholder="henriquelenis12@gmail.com" required>
            <br><br>
            <input type="submit" value="Enviar">
        </form>
        <br>
        <a href="/FrontEnd-Loja/LenisSports/index.html">Ir para o site principal</a>
    </section>
</body>
</html>
