<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOJA</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body class="container">
    <header>
        <img  class ="logo" src="../LenisSports/imagens/logo.png" alt="logo">
        <nav>
            <ul class="nav_links">
                <li> <a href=""></a> </li> <!--links para navbar-->
                <li> <a href=""></a> </li>
                <li> <a href=""></a> </li>
                <li> <a href=""></a> </li>
            </ul>
        </nav>
        <a href=""><button>Registrar</button></a>
        <a href=""><button>Login</button></a>
        <a href=""><button>Ações</button></a>
    </header>
    
    <style>
        h1{
            color: black;
        }
        h2{
            color: black;
        }
        h3{
            color:black;
        }
    </style>
<h1>Escolha entre nossa ampla variedade de produtos de moda</h1><br>
<h2>Confira nossos itens na seção de produtos</h2>
<br>

<marquee><h3><b>Seja muito bem vindo ao LenisSports!</b></h3></marquee>

<img src="../LenisSports/imagens/imagens do index/1.jpg" width="300" height="200">
<img src="../LenisSports/imagens/imagens do index/2.jpg" width="300" height="200">
<img src="../LenisSports/imagens/imagens do index/3.png" width="300"  height="200">
<img src="../LenisSports/imagens/imagens do index/4.jpg" width="300" height="200">
<img src="../LenisSports/imagens/imagens do index/5.jpg" width="300" height="200">

<footer class="footer-acima">
    <div class="footer-esquerdo">
        <h3>Lenis<span>&nbsp;Sports</span></h3> <!--espaco em branco que nao quebra-->
        <p class="footer-links">
            <a href="index.html">Início</a>
            <a href="">About</a>
            <a href="">Faq</a>
            <a href="">Contatos</a>
        </p>
        <p class="nome">Henrique Lenis &copy; 2024</p> <!--copyright do fundador caracter especial-->
    </div>
    <div class="footer-infos">
        <div>
            <i class="footer-cidade"></i>
            <p><span>Dourados-MS</span></p>
        </div>
        <div class="footer-telefone">
            <p>+55 67 99613-4676</p>
        </div>
        <i class="footer-email">
            <p><a href="email">henriquelenis12@gmail.com</a></p>
        </i>
        <div class="footer-direito">
            <p class="footer-about">
                <span>Sobre a Empresa:</span>
                Fornecemos quase toda variedade de roupas para todos os tamanhos
            </p>
            <div class="footer-icones">
                <a href="#"><i class="facebook"></i></a>
                <a href="#"><i class="instagram"></i></a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>